/* Login.css */

.carousel-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-container img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
  
  .legend {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
  }
  
  /* Keyframes for the animation */
@keyframes backgroundAnimation {
  0% {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 0, 0, 0.5) 50%);
  }
  50% {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7) 50%, rgba(255, 0, 0, 0.7) 50%);
  }
  100% {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(255, 0, 0, 0.5) 50%);
  }
}

/* Animation for the container */
.background-animation {
  animation: backgroundAnimation 4s infinite; /* Apply animation */
}

